<p>Listado Heroes</p>

<ul>
    <li *ngFor="let heroe of heroes">
        {{heroe}}
    </li>
</ul>

<div>
    <h3 *ngIf="heroesBorrados.length > 0; else noBorrado">Heroes Borrados</h3>
    <span *ngFor="let borrado of heroesBorrados"> {{borrado}}, </span>
</div>

<ng-template #noBorrado>
    <h3>Heroes No Borrados</h3>   
</ng-template>

<button (click)="borrarHeroe()">
    borrar
</button>