<h3>Agregar</h3>
<hr />
<form (ngSubmit)="agregar()">
  <input
    type="text"
    placeholder="Nombre"
    name="nombre"
    [(ngModel)]="nuevo.nombre"
  />

  <input
    type="text"
    placeholder="Poder"
    [value]="nuevo.poder"
    name="poder"
    [(ngModel)]="nuevo.poder"
  />

  <button type="submit">Agregar</button>
</form>
